@font-face {
    font-family: "profession";
    src: url("../font/Aldrich-Regular.ttf");
}

@font-face {
    font-family: "name";
    src: url("../font/BlackOpsOne-Regular.ttf");
}



* {
    padding: 0px;
    margin: 0px;
}



.header-text {
    width: 100% !important;
    position: absolute;
    top: 60%;
    left: 25%;
    right: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.header-text h1 {
    font-size: 80px;
    color: #ffffff;
    font-family: "name";
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow:
     1px 1px 1px rgb(3, 3, 3), 
    3px 3px 5px rgb(8, 8, 8), 
    3px 3px 5px rgb(8, 8, 8) 
    3px 3px 5px rgb(8, 8, 8); 
}


.header-text h3 {
    letter-spacing: 0.2em;
    font-size: 35px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: "profession";
    text-shadow: -1px -1px 0px #f32121, 3px 3px 0px #f32121, 6px 6px 0px #a10d0d;

}

.header-text .vertical-line {
    height: 5px;
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;

}

.header-text p {
    margin-top: 15px;
    font-size: 40px;
    color: #fff;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-family: "profession";
}


.home-full-screen {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: top center;

}


.home-full-screen {
    background-image: url('../img/header.png');
    background-color: #000;
}

.home-full-screen::after {
    opacity: 0.5;
}



.home-full-screen {


    text-align: center;
    margin: auto;
}



a {
    margin-top: 15px;
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 42px;
    font-family: "Calibri";
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: -1px -1px 0px #f32121, 3px 3px 0px #f32121, 6px 6px 0px #a10d0d;
}